#home-light {
    background-image: url('.././assets/light-background.webp');
    background-size: cover;
    background-position: center;
    width: '100%';
    height: 100vh;
}

#home-dark {
    background-image: url('.././assets/dark-background.webp');
    background-size: cover;
    background-position: center;
    width: '100%';
    height:100vh;
}

#mobile-home-light {
    background-image: url('.././assets/light-background.webp');
    background-size:cover;
    background-position: center;
    background-repeat: repeat-y;
    width:'100%';
    min-height: 100vh;
}

#mobile-home-dark {
    background-image: url('.././assets/dark-background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    width: '100%';
    min-height: 100vh;
}