.minipage{
    border: 3px solid white;
    width: 80%;
    margin: 8rem auto;
    text-align: center;
    height: 60vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.minipage-header{
    margin: 5rem auto;
    font-size: 2.7rem;

    /* background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background: -webkit-linear-gradient(45deg, #eee, #333);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
}
.choice-button-container{
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.choice-button {
  background-color: var(--teal);
  border-radius: 100px;
  box-shadow: rgba(58, 144, 91, 0.2) 0 -25px 18px -14px inset,rgba(49, 67, 138, 0.15) 0 1px 2px,rgba(71, 45, 148, 0.15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 19px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  font-weight: bold;
  position: relative;
  margin-bottom: 3rem;
}

.choice-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}