@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.minipage-signup{
    border: 3px solid white;
    width: 80%;
    margin: 1.8rem auto;
    text-align: center;
    height: 79vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


#signup-form{
    color: black;
    margin: 5px;
}

.textfield-label{
    color: rgb(113, 157, 174) !important;
}

.signup-button{
    width: 225px;
    height: 50px;
    margin: 9px auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: linear-gradient(rgb(188, 175, 222), rgb(116, 87, 165), rgb(188, 175, 222));
    color: white !important;
    cursor: pointer;
    box-shadow: rgba(58, 138, 144, 0.2) 0 -25px 18px -14px inset,rgba(49, 138, 128, 0.15) 0 1px 2px,rgba(139, 45, 148, 0.15) 0 2px 4px,rgba(154, 44, 187, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 175, 187, 0.15) 0 16px 32px;
    animation-name: slideleft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /* border: 2px solid rgb(67, 73, 101); */
}

.signup-button:hover{
    background: #2e407d !important;
    box-shadow: rgba(44, 144, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 187, 182, 0.25) 0 1px 2px,rgba(44, 149, 187, 0.25) 0 2px 4px,rgba(161, 44, 187, 0.25) 0 4px 8px,rgba(118, 44, 187, 0.25) 0 8px 16px,rgba(44, 177, 187, 0.25) 0 16px 32px;

}

.forgot-password-button-login{
    width: 215px;
    height: 50px;
    margin: 9px auto;
    border: 2px solid rgb(74, 73, 148) !important;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: rgb(88, 87, 165) !important;
    cursor: pointer;
    box-shadow: rgba(58, 138, 144, 0.2) 0 -25px 18px -14px inset,rgba(49, 138, 128, 0.15) 0 1px 2px,rgba(139, 45, 148, 0.15) 0 2px 4px,rgba(154, 44, 187, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 175, 187, 0.15) 0 16px 32px;
    /* border: 2px solid rgb(67, 73, 101); */
}

.forgot-password-button-login:hover{
    color: #1b3158 !important;
    border-color: #1b3158 !important; 
    box-shadow: rgba(44, 144, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 187, 182, 0.25) 0 1px 2px,rgba(44, 149, 187, 0.25) 0 2px 4px,rgba(161, 44, 187, 0.25) 0 4px 8px,rgba(118, 44, 187, 0.25) 0 8px 16px,rgba(44, 177, 187, 0.25) 0 16px 32px;

}

.google-btn {
    width: 210px;
    height: 42px;
    background-color: #6842f4;
    background: linear-gradient(rgb(177, 175, 222), rgb(88, 87, 165), rgb(175, 182, 222));
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    position: relative;
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
      border-radius: 15rem;
    }
    .google-icon {
      position: relative;
      right: 5px;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto";
    }
    &:hover {
      box-shadow: 0 0 6px #4285f4;
    }
    &:active {
      background: #1669F2;
    }
  } 
  
  .google-btn:hover{
      background: #2e407d;
      box-shadow: rgba(44, 144, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 187, 182, 0.25) 0 1px 2px,rgba(44, 149, 187, 0.25) 0 2px 4px,rgba(161, 44, 187, 0.25) 0 4px 8px,rgba(118, 44, 187, 0.25) 0 8px 16px,rgba(44, 177, 187, 0.25) 0 16px 32px;
      cursor: pointer;
      color:white;
  
  }

  .inline-btn{
    display: inline-block;
    margin: 15px 5px 10px;
  }

  .block-btn{
    margin: -5px auto;
  }

  @keyframes slideleft {
    0% {
        visibility: visible;
        /* right: -600px; */
        right: -40%;
    }

    100% {
        visibility: visible;
        right: 0px;
    }
}

  @media (max-width:690px){
    .minipage-signup{
        border: 3px solid white;
        width: 80%;
        margin: 2rem auto;
        text-align: center;
        height: 95vh;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    /* .third-party-buttons-container {
        margin-top: 5px;
        background-color: red;
        align-items: center;
      } */


  .inline-btn{
    display: block;
    margin: 0px auto !important;
  }

  .google-btn{
    position: relative;
    margin: 10px;
  }
}

  @media (max-width:620px){
    .signup-button{
        width: 365px;
    }

    .forgot-password-button{
        width: 365px;
    }
  }

    @media (max-width:500px) {
      #signup-form{
        transform: translateY(-30px);
      }

      .google-btn{
        transform: translateY(-15px);
      }
    }