*{
  /* DARKMODE PALETTE */
    --champagne: rgb(246, 233, 205);
    --cream: #f0fabc;
    --sunset: rgb(243, 203, 155);
    --dark-cyan: #2c8a86;
    --magenta-haze: #822853;

    /* LIGHTMODE PALETTE */
    --ultra-violet: #6D5A87ff;
      --chinese-violet: rgb(129, 91, 132);
      --prussian-blue: #011a25;
      --teal: #44808Bff;
      --charcoal: #384B5Aff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
