*{
  /* DARKMODE PALETTE */
    --champagne: #f6e9cd;
    --cream: #f0fabc;
    --sunset: rgb(243, 203, 155);
    --dark-cyan: #2c8a86;
    --magenta-haze: #822853;

    /* LIGHTMODE PALETTE */
    --ultra-violet: #6D5A87ff;
      --chinese-violet: rgb(129, 91, 132);
      --prussian-blue: rgb(1, 26, 37);
      --teal: #44808Bff;
      --charcoal: #384B5Aff;
      --paper-light: #e9dcda;
      --paper-dark: #00131a;
}

html,
body,
#app,
#app>div {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y:visible;
}

html,
body,
#root {
  /* Set the root element (app container) to take up the full height of the viewport */
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
